[submodule "dpdk"]
	path = dpdk
	url = https://github.com/scylladb/dpdk.git
[submodule "c-ares"]
	path = c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
